.header {
    width: 100%;
    height: 50vh;
    display: flex;
    gap: 15px;
    overflow: auto;
    white-space: nowrap;
}

.postmod1 {
    display: flex;  
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.postmod1 img {
    border-radius: 5px;
    margin: 5px;
    width: 300px;
    height: 200px;
}

.postmod1 button {
    cursor: pointer;
    width: 100%;
    align-items: center;
    margin-bottom: 5px;
    border: none;
    background-color: #fafbfb;
    color: black;
    padding: 3px;
    font-weight: bold;
}